[Install]
WantedBy=default.target

[Unit]
Description=IPFS Daemon
CollectMode=inactive-or-failed
After=network.target

[Service]
Type=simple
ExecStart=ipfs daemon
Restart=on-abnormal
TimeoutStopSec=5
